
#homePage {
    display: grid;
    background-color: #f5f7fd;
    grid-template-columns: repeat(12, 1fr);
    ;
    grid-template-rows: repeat(11, 1fr);
    height: 120vh;
    width: 100%;
    grid-template-areas:
        ". . . . . . . . . . . ."
        ". a a a a f f f f f f ."
        ". b b b b f f f f f f ."
        ". i i i i f f f f f f ."
        ". i i i i f f f f f f ."
        ". i i i i f f f f f f ."
        ". i i i i f f f f f f ."
        ". i i i i f f f f f f ."
        ". i i i i f f f f f f ."
        ". i i i i f f f f f f ."
        ". . . . . . . . . . . ."

}

.callToActionH1 {
    grid-area: a;
    font-size: 3.5rem;
    color: #404653;
    font-family: boldSize;
}

.callToActionContent {
    grid-area: b;
}

.imageForContnent {
    grid-area: i;
    background-image: url("../images/Home_plus--desktop.svg");
    background-size: cover;

}

#moneyForm {
    grid-area: f;
    padding: 30px;
    background-color: white;
    border-style: solid;
    border-width: 0.1mm;
    border-color: #dbe0ed;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    ;
    grid-template-rows: repeat(13, 1fr);
    height: 80vh;
    width: 100%;
    grid-template-areas:
        ". . . . . . . . . . . ."
        ". . m m m m m m m m . ."
        ". r r . . . . . . n n ."
        ". l l l l l l l l l l ."
        ". k k . . . . . . z z ."
        ". a a . . . . . . b b ."
        ". c c c c c c c c c c ."
        ". d d . . . . . . e e ."
        ". f f . . . . . . g g ."
        ". h h h h h h h h h h ."
        ". . . . . . . . . . . ."
        ". i i i i . . . s s s ."
        ". . . . . . . . j j j ."
        ". o o o o o o o o o o ."
        ". . . . . . . . . . . ."

}
#moneyForm input{
    margin: 15px 0;
}
.creditAmouthInterest{
    grid-area: s;

    display: flex;
    justify-content: center;
    font-size: 31px;
    font-weight: 700;
    color: #005ac8;
}
.incomeTitle {
    grid-area: r;


}

.incomeInputForm {
    grid-area: n;
    font-weight: 800;



}

.sliderIncome {
    grid-area: l;


}

.minSumIncome {
    grid-area: k;
    color: #c3ccda;



}

.maxSumIncome {
    grid-area: z;
    color: #c3ccda;


}

.moneyFormInput {
    grid-area: m;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.sumInForm {
    grid-area: a;


}

.valueSumInForm {
    grid-area: b;
    font-weight: 800;


}

.sliderMoney {
    grid-area: c;
}

.minSum {
    grid-area: d;
    color: #c3ccda;
}

.maxSum {
    grid-area: e;
    color: #c3ccda;
}

.periodTitle {
    grid-area: f
}

.periodMonths {

    grid-area: g;
    font-weight: 800;

}

.monthsSlider {
    grid-area: h
}

#moneyInputName::placeholder{
color: black;
font-family: boldSize;
font-size: 20px;
text-align: center;
}
#moneyInputName{
   border-style: solid;
   border-width: 1px;
   border-radius: 10px;
   margin:20px 0 
    }
.monthsSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background: #ee6b44;
    cursor: pointer;
}

.creditInstallment {
    grid-area: i
}

.creditAmouthValue {
    grid-area: j;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    color: #005ac8;
}

#candidateBtn {
    grid-area: o;
    background-color: #fa6428;
    color: white;
    border-style: none;
    border-radius: 30px;
    font-family: boldSize;
    font-size: 1.5rem;
    height: 60px;

}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url('../images/Untitled\ design.svg');
    background-size: contain;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fa6428;
    cursor: pointer;

}

/*  */




