body{
    font-family: regularSize;
}
#loginPage {
    display: flex;
    align-items: column;
    justify-content: center;
    background-color: #f2f6fe;
}

#loginPage>div {
    height: 600px;
    width: 600px;
    background-color: #f2f6fe;
    padding: 50px;
    box-sizing: border-box;
}

#loginForm {
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-style: solid;
    border-width: 0.1mm;
    border-color: #dbe0ed;
    border-radius: 10px;

}
form>a{
    margin-right: 120px;
    margin-top: 20px;
    text-decoration: none;
    color: #005ac8;
    font-family: boldSize;
    font-size: 16px;
    
}

.inputContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #c3c8d3;
    border-radius: 10px;
    margin-top: 10px;
    height: 50px;
    width: 280px;
    font-family: regularSize;
    font-size: 18px;


}


.inputContainer>input:focus {
    outline-color: #ffffff00;
}

.inputContainer>input {
    border-style: none;
    margin-left: 10px;
    font-size: 16px;
}
h5 {
    
    font-family: mediumSize;
    font-size: 1.5rem;
}

i {
    color: #005ac8;

}

#submitLogin {
    background-color: #fa6428;
    color: white;
    height: 55px;
    width: 167px;
    margin: 24px 0 25px;
    border-style: none;
    border-radius: 30px;
    font-family: boldSize;
    font-size: 18px;
}

